.header{
  background:var(--primary-blue-dark);
  height:30vh;
}
.nav{
    padding:14px 20px;
    box-shadow:0 2px 9px 0 rgba(0,0,0,0.08);
    flex-direction:row;
}
.heading{
    color:#fff;
    cursor:pointer;
    padding:5px 0;
}
.leftSection{
    display:flex;
    justify-content:center;
    alig-items:center;
}
.rightSection{
    display:none;
    justify-content:center;
    align-items:center;
}

.icon{
    margin-right:20px;
    cursor:pointer;
}
.category{
    display:flex;
    cursor:pointer;
}
.categoryLabelGroup{
    display:flex;
    flex-direction:column;
}
.categoryLabel{
    margin-left:5px;
    font-size:0.7rem;
}
.cursor{
   cursor: pointer;
}
.categoryLinks{
    display:none;
    justify-content:space-around;
    padding:20px;
    width:95%;
    margin:auto;

}
.categoryLink{
    text-transform:capitalize;
    cursor:pointer;
    position:relative;
    color:var(--text-light-gray);
}

.categoryLink::after{
    content:'';
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translate(-50%,-50%);
    height:2px;
    width:0px;
    background:var(--text-light-gray);
    transition:0.3s all ease;
}
.categoryLink:hover{
    color:"#fff";
}

.categoryLink:hover::after{
    width:100%;
}

@media (min-width:650px){
    .icon{
        margin-right:40px;

    }
    .heading{
        font-size:1.2rem;
    }
    .header{
        height:40vh;
    }
}

@media (min-width:1024px){
    .rightSection{
        display:flex;
    }
    .nav{
        flex-direction:row;
        padding:14px 40px;
    }
}

@media (min-width:1200px){
    .categoryLinks{
        display:flex;
    }
   
}